<div class="form-row">
  <div class="form-item">
    <label for="title">Titel</label>
    <input type="text" name="title" value="<%= event.title %>" required>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label for="description">Beschreibung</label>
    <textarea class="textarea-big tinymce" name="description" cols="80" wrap="hard"><%= event.description %></textarea>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label for="date">Datum & Uhrzeit</label>
    <input type="datetime-local" name="date" id="date" required>
  </div>
</div>