<div class="form-wrapper">
  <h2 class="page-header">Login</h2>
  <div class="form-container">
    <form action="/auth/login" method="POST" class="auth-form">
      <div class="form-row">
        <div class="form-item">
          <label for="username">AG-Name (ohne AG)</label>
          <input type="username" id="username" name="username" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-item">
          <label for="password">Passwort</label>
          <input type="password" id="password" name="password" required>
        </div>
      </div>
      <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <div class="">
      <h4>Noch nicht registriert?</h4>
      <a class="form-link" href="/auth/register">Neue AG registrieren</a>
    </div>
  </div>
</div>