<form method="POST" action="<%= url %>?_method=DELETE">
  <button type="submit">löschen</button>
</form>

<!-- <script>
  const deleteForm = document.getElementById("deleteForm");
  deleteForm.addEventListener("submit", (e) => {
        e.preventDefault();
        let result = confirm("Möchte Sie wirklich löschen?");
        if (result) {
          deleteForm.submit();
        }
      })
</script> -->