<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Freiraumkonvoi</a>
    <ul>
      <li><a href="/users">AGs – Arbeitsgruppen</a></li>
      <li><a href="/posts">Beiträge</a></li>
      <% if(isAuthenticated) { %>
        <li class="header-auth-links"><a href="/auth/logout">Logout</a></li>
      <% } else { %>
        <li class="header-auth-links"><a href="/auth/register">Registrieren</a></li>
        <li class="header-auth-links"><a href="/auth/login">Login</a></li>
      <% } %> 
    </ul>
  </nav>
</header>