<!-- from router/auth.js -->
<% if(typeof errors!= 'undefined') { %>
  <% errors.forEach(function(error){ %>
    <p> <%= error.msg %></p>
  <% }) %>
<% } %>
<!-- from flash -->
<% if(success_msg != '') { %>
  <%= success_msg %>
<% } %>
<% if(error_msg != '') { %>
  <%= error_msg %> 
<% } %> 
<% if(error != '') { %>
  <%= error %>
<% } %>