<% if(typeof errors!= 'undefined') { %>
  <% errors.forEach(function(error){ %>
    <p><%= error.msg %></p>
  <% }) %>
<% } %>

<% if(success_msg!= '') { %>
  <%= success_msg %>
<% } %>
<% if(error_msg != '') { %>
  <%= error_msg %> 
<% } %> 
<% if(error != '') { %>
  <%= error %>
<% } %>