<!-- from router/auth.js -->
<% if(typeof errors!= 'undefined') { %>
  <% errors.forEach(function(error){ %>
    <div class="messages">
      <p> <%= error.msg %></p>
    </div>
    <% }) %>
<% } %>
  <!-- from flash -->
  
  <% if(success_msg != '') { %>
    <div class="messages">
      <%= success_msg %>
    </div>
  <% } %>
  <% if(error_msg != '') { %>
    <div class="messages">
      <%= error_msg %>
    </div>
  <% } %> 
  <% if(error != '') { %>
    <div class="messages">
     <%= error %>
    </div>
  <% } %>