<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freiraumkonvoi</title>
  <script defer src="../javascripts/confirmDelete.js"></script>
</head>
<body>
  <%- include('../partials/header.ejs') %> 
  <%- include('../partials/errorMessage.ejs') %> 
  <%- include('../partials/messages.ejs') %> 
  <%- body %> 
</body>
</html>