.upcomingEvents, .pastEvents {
  border: 2px solid var(--color-border-gray);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin: 2rem 0;
  box-shadow: inset 0 0 1px 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.upcomingEvents h3, .pastEvents h3 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}