<h1>Registrierung</h1>
<form action="/register" method="POST">
  <div>
    <label for="ag_name">AG - Name</label>
    <input type="text" id="ag_name" name="ag_name" required>
  </div>
  <div>
    <label for="email">Kontakt-Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Passwort</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="reg_token">Registrierung-Token</label>
    <input type="reg_token" id="reg_token" name="reg_token" required>
  </div>
  <button type="submit">registrieren</button>
</form>
<p>Bereits registriert?</p>
<a href="/login">Login</a>