<h2>Kommentar Bearbeiten</h2>
<form action="/posts/<%= comment.post %>/comments/<%= comment.id %>?_method=PUT" method="POST">
  <%- include('_form_fields', { textContent: comment.commentText, buttonText: 'Änderungen übernehmen' }) %> 
</form>