<h2 class="page-header">Willkommen!</h1>
<% if(!isAuthenticated) { %> 
  <p>Loggen Sie sich ein oder legen Sie einen Account an:</p>
  <div class="form-row btn-row">
    <a class="btn btn-primary" href="/auth/register">Register</a>
    <a class="btn btn-primary" href="/auth/login">Login</a>
  </div>
<% } %> 