@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/forms.css';
@import 'shared/buttons.css';

@import 'pages/ags-index.css';
@import 'pages/ags-show.css';
@import 'pages/posts-index.css';
@import 'pages/posts-show.css';
@import 'pages/posts-show-comments.css';

:root {
  font-family: Arial,sans-serif;
  font-size: 20px;
  color: var(--color-text-light);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-size: 500; 
}