<h2>Tools / Werkzeuge*</h2>

<div class="tools">
    <div>
    <p>Hier eine kleine Auswahl an Tools, Programmen und Webseiten die wir (von der IT) empfehlen können.</p>
    <p>Bitte bedenkt, es sind hier nur Möglichkeiten und Ideen die euch von der IT-AG vorgeschlagen werden. Es kann euch niemand garantieren dass die hier gelisteten Tools tatsächlich das Beste ist was es auf der Welt gibt - wir sind alle nur Menschen.</p>
    <div>
        <h3>
            <a href="https://cryptpad.piratenpartei.de/pad/#/2/pad/edit/XJmrMtwhH3AfwiUWef674GDI/" target="_blank" rel="noopener noreferrer">KRYPTOPAD</a>
        </h3>
        <p>
            online Schmierzettel: Das Kryptopad der Piraten Partei. Hier hat jeder drauf Zugriff der den Link hat und wenn du eine Idee hast die du umbedingt festhalten möchtest oder eine Info für die Orga hast kannst du die ohne große Anmelderei hier hinterlegen. Aber Achtung: du kannst auch von anderen gemachte Einträge löschen! 
        </p>
        <a href="https://cryptpad.piratenpartei.de/pad/#/2/pad/edit/XJmrMtwhH3AfwiUWef674GDI/" target="_blank" rel="noopener noreferrer">https://cryptpad.piratenpartei.de/pad/#/2/pad/edit/XJmrMtwhH3AfwiUWef674GDI/</a>
    </div>
    <div>
        <h3>
            <a href="https://www.keepass.info" target="_blank" rel="noopener noreferrer">KEEPASS</a>
        </h3>
        <p>
            Passwordsafe KEEPASS: Ein Programm mit dem Ihr eure Passwörter auf eurem Rechner verschlüsselt speichern könnt. Du machst dir ein Passwort das du dir merken kannst und damit kannst du auf deine Passwortdatei zugreifen - hier kannst du die Zugänge zu deinen Internetportalen hinterlegen und auch krypische (wilde Kombination von Zahlen, Zeichen und Buchstaben) Passwörter erstellen - die sind mega sicher. Keepass ist open source, dadurch sehr sicher. Zudem ist es einfach und intuitiv zu bedienen. 
        </p>
        <a href="https://www.keepass.info" target="_blank" rel="noopener noreferrer">https://www.keepass.info</a>
    </div>
    <div>
        <h3>
            <a href="https://www.thunderbird.net/de/" target="_blank" rel="noopener noreferrer">THUNDERBIRD</a>
        </h3>
        <p>
            Mail und Kalender Programm (Alternative zu Outlook) Thunderbird: Hier kannst du deine E-mail Adresse einbinden (z.B. von Web.de/posteo/googlemail) - deine E-mail sind dann auf deinem Computer/Smarphone aber auch immernoch auf dem Server (techn: IMAP/SMTP) wo deine E-mail Adresse drauf ist. Zudem kannst du auch Kontakte und einen Kalender verwalten. Für die Freiraumorga ist es geplant E-mailkonten und einen gemeinsamen Kalender anzulegen. Dafür bietet es sich sehr an dieses Programm auf dem Computer/Handy zu haben da ihr so die Daten (Mehrzahl von Datum) des Freiraumkalenders und euren privaten Kalender von Thunderbird verlinken könnt. Thunderbird gibt es auch fürs Handy. 
        </p>
        <a href="https://www.thunderbird.net/de/" target="_blank" rel="noopener noreferrer">https://www.thunderbird.net/de/</a>
    </div>
    <div>
        <h3>
            TELEGRAM
        </h3>
        <p>
            Ein Handymessanger den es auch als Plug in für den Browser gibt.

            Warum steht der hier: man kann hier Abstimmugen machen!
        </p>
    </div>
    <div>
        <h3>
            BROWSER
        </h3>
        <p>
            nicht Zeug-speichernde Browser:
        </p>
        <p>
            <a href="https://brave.com/de/" target="_blank">https://brave.com/de/ - Brave</a>
        </p>
        <p>
            <a href="https://vivaldi.com/de/" target="_blank">https://vivaldi.com/de/ - Vivaldi</a>
        </p>
        <p>
            <a href="https://www.opera.com" target="_blank">https://www.opera.com - Opera</a>
        </p>
    </div>
    <div>
        <h3>
            SUCHMASCHINEN (Alternativen zu google)
        </h3>
        <p>
            <a href="https://duckduckgo.com/" target="_blank">https://duckduckgo.com/ - du wirst nicht getrackt</a>
        </p>
        <p>
            <a href="https://www.ecosia.org/?c=de" target="_blank">https://www.ecosia.org/?c=de - du pflanst Bäume</a>
        </p>
    </div> 

</div>
<br>
<br>
<p class="text-small"><em>* Alle Angaben ohne Gewähr – wir übernehmen keine Haftung für die Vollstädndigkeit und Richtigkeit der hier gemachten Angaben</em></p>
