:root {
  --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 90%);
  --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 80%);
  --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
  --color-btn-primary-text-dark: hsl(var(--color-base-hue), 100%, 10%);
  
  --color-btn-bright-background: hsl(var(--color-base-hue), 10%, 90%);
  --color-btn-bright-background-dark: hsl(var(--color-base-hue), 20%, 80%);
  --color-btn-bright-text: hsl(var(--color-base-hue), 100%, 20%);
  --color-btn-bright-text-dark: hsl(var(--color-base-hue), 100%, 10%);
  
  --color-btn-back-background: hsl(var(--color-back-hue), 100%, 90%);
  --color-btn-back-background-dark: hsl(var(--color-back-hue), 100%, 80%);
  --color-btn-back-text: hsl(var(--color-back-hue), 100%, 20%);
  --color-btn-back-text-dark: hsl(var(--color-back-hue), 100%, 10%);
  
  --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 90%);
  --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 80%);
  --color-btn-danger-text: hsl(var(--color-danger-hue), 100%, 20%);
  --color-btn-danger-text-dark: hsl(var(--color-danger-hue), 100%, 10%);
  
  --color-btn-border: black;
}

.btn {
  border: 1px solid var(--color-btn-border);
  border-radius: var(--border-radius);
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-family: Helvetica;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.btn-row > * {
  margin-left: 1rem;
}
.btn-row > *:first-child {
  margin-left: 0rem;
}

.btn-row-end {
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-background);
}

.btn-primary:hover {
  color: var(--color-btn-primary-text-dark);
  background-color: var(--color-btn-primary-background-dark);
  transition: var(--hover-transition)
}

.btn-bright {
  color: var(--color-btn-bright-text);
  background-color: var(--color-btn-bright-background);
}

.btn-bright:hover {
  color: var(--color-btn-bright-text-dark);
  background-color: var(--color-btn-bright-background-dark);
  transition: var(--hover-transition)
}

.btn-back {
  color: var(--color-btn-back-text);
  background-color: var(--color-btn-back-background);
}

.btn-back:hover {
  color: var(--color-btn-back-text-dark);
  background-color: var(--color-btn-back-background-dark);
  transition: var(--hover-transition)
}

.btn-danger {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-background);
}

.btn-danger:hover {
  color: var(--color-btn-danger-text-dark);
  background-color: var(--color-btn-danger-background-dark);
  transition: var(--hover-transition);
}

.btn-row-end .btn {
  font-size: 1rem;
}