:root {
  --form-label-font-size: 1rem;
  --form-input-background-color: hsl(var(--color-base-hue), var(--saturation), 25%);
  --form-input-border-color: hsl(var(--color-base-hue), var(--saturation), 50%);
  --form-input-border-color-light: hsl(var(--color-base-hue), var(--saturation), 90%);
}

.form-row {
  display: flex;
  margin-bottom: .5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.form-item:first-child {
  margin-left: 0;
}

.form-row-end {
  justify-content: flex-end;
}

.form-item label {
  font-size: var(--form-label-font-size);
  margin-bottom: .25rem;
  margin-left: .25rem;
}

.form-item input::placeholder {
  color: var(--color-border-gray);
}

.form-item input, .form-item select, .form-item textarea {
  height: 2rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  border: 1px solid var(--form-input-border-color);
  background-color: var(--form-input-background-color);
  color: var(--color-text-light);
  font-size: 1rem;
  font-weight: normal;
  outline: none;
}

.form-item textarea {
  height: 100%;
  resize: none;
}

.form-item select option {
  background-color: var(--color-border-gray);
}

.form-item input:focus, .form-item select:focus, .form-item textarea:focus {
  border-color: var(--form-input-border-color-light);
}

/* login form */

.form-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.form-container {
  border: 2px solid var(--color-border-gray);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1px 1px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

/* .auth-form {
  max-width: 10%;
} */

.form-link {
  color: var(--color-text-light)
}

.form-link:hover {
  color: var(--color-text-light-hover);
  transition: var(--hover-transition);
}