.messages {
  text-align: center;
  font-weight: bold;
  margin: 2rem 0;
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 1px 1px;
  padding: .5rem 1rem;
}

.messages-success {
  color: var(--color-btn-back-text-dark);
  border: 2px solid var(--color-btn-back-background-dark);
  background-color: var(--color-btn-back-background);
}

.messages-danger {
  color: var(--color-btn-danger-text-dark);
  border: 2px solid var(--color-btn-danger-background-dark);
  background-color: var(--color-btn-danger-background);
}