<h2 class="page-header"><strong>Admin</strong>Dashboard</h2>

<p>Welcome <strong>Admin</strong>
  <%= user.name %> 
</p>

<!-- <a class="btn btn-primary" href="/posts">Posts</a>
<br> -->
<%- include('./_shared_links') %> 