<h2><strong>Admin</strong>Dashboard</h2>

<p>Welcome <strong>Admin</strong>
  <%= user.name %> 
</p>

<a href="/posts">Posts</a>

<!-- <form action="/logout?_method=DELETE" method="POST"> -->
<form action="/auth/logout">
  <button type="submit">Log Out</button>
</form>