<h2 class="page-header">Alle AGs</h2>
<div class="page-container">
  <div class="ag-container ag-header">
    <div class="ag-name">AG</div>
    <div class="ag-posts">Arbeitsstand / Entscheidungen</div>
    <div class="ag-info text-right">AG-Info</div>
  </div>
  <% targetUsers.forEach(targetUser => { %>
    <div class="ag-container ag-row">
      <div class="ag-name">
        <a class="btn btn-bright" href="users/<%=targetUser.id%>"><%= targetUser.name %></a>
      </div>
      <div class="ag-posts text-bright">
        <%- targetUser.statusOfWork  %> 
      </div>
      <div class="ag-info text-right">
        <% if (targetUser.contactMail != null) { %> 
          <div class="ag-info-content text-bright">
            <p>
              Kontakt: 
            </p>
            <p>
              <%= targetUser.contactMail %> 
            </p>
          </div>
        <% } %> 
      </div>
    </div>
  <%  })  %> 
</div>