<h2 class="page-header">Alle Beiträge</h2>

<div>
  <% posts.forEach(post => { %>
    <div>    
      <a class="btn btn-primary" href="/posts/<%= post.id %>"><%= post.title %></a>
      <% users.forEach(user => { %> 
        <% if(user.id == post.user) { %>
         <%= user.name %>  
        <% } %> 
      <% }) %> 
    </div>
  <% }) %> 
</div>
<div>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" href="/posts/new">neuer Beitrag</a>
  </div>
</div>