<a class="btn btn-back" href="/posts">Alle Beiträge</a>
<h2 class="page-header">Neuen Beitrag erstellen</h2>
<div class="form-container">
  <form action="/posts" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row btn-row btn-row-end">
      <button class="btn btn-primary" type="submit">Beitrag erstellen</button>
    </div>
  </form>
</div>