<h2>
  <%= post.title %> 
</h2>
<div>
  <%= post.description %> 
</div>
<div>
  <strong>AG:</strong>
  <%= post.user.name %> 
</div>
<div>
  <a href="/posts/<%= post.id %>/edit">Bearbeiten</a>
  <a href="/posts">Alle Beiträge</a>
</div>